<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean id="myPet"
          class="ru.klimenko.spring.spring_course3.Dog"
          scope="singleton"
          // 58 - Создали, вот эти две строчки и пока все, при этом здесь скоп singleton по умолчанию и его можно не прописывать -> test4
>-->
<!--    <bean id="myPet"
          class="ru.klimenko.spring.spring_course3.Dog"
          scope="prototype"
      // 66 - меняем скоп на prototype -> test4
>-->
<!--    <bean id="myPet"
          class="ru.klimenko.spring.spring_course3.Dog"
          init-method="init"
          destroy-method="destroy"
      // 73 - помечаем в конфиг файле, что добавили данные методы init и destroy -> создаем test5
>-->

    <bean id="myPet"
          class="ru.klimenko.spring.spring_course3.Dog"
          init-method="init"
          destroy-method="destroy"
          scope="prototype"
    >

    </bean>

</beans>
